body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.back-arrow {
  list-style: none;
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

.logo-img {
  width: 45px;
  height: 40px;
}

.settings-img {
  width: 25px;
  height: 25px;
}

.settings {
  color: red;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-color: red;
  border-radius: 5px;
  color: red;
}

.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.single-game {
  background-color: black;
  border-radius: 5px;
  flex-basis: 40%;
}

.game-title {
  margin-top: 0;
  cursor: pointer;
  height: 15px;
}

.img-api {
  padding: 5px;
  width: 170px;
  height: 110px;
  margin: 0;
  align-self: center;
}

.title-in-home {
  margin: 0;
  padding: 0;
}

.game-detail-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.game-details {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.details-title {
  color: red;
}

.details-content {
  color: black;
  font-size: 0.9rem;
}

@media screen and (min-width: 680px) {
  .games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .img-api {
    width: 250px;
    height: 180px;
  }

  .single-game {
    flex-basis: 32%;
    border-radius: 5px;
  }

  input {
    flex-basis: 100%;
  }
}
