@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.back-arrow {
  list-style: none;
  color: red;
}

a {
  text-decoration: none;
  color: red;
}

.logo-img {
  width: 45px;
  height: 40px;
}

.settings-img {
  width: 25px;
  height: 25px;
}

.settings {
  color: red;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid red;
  border-radius: 0.5rem;
}